<div>
  <strong><%= @map.name %></strong>
  <p><%= @map.description %></p>
  <% if @map.image.attached? %>
    <%= image_tag @map.image %>
  <% else %>
    <div>No preview available</div>
  <% end %>
  <!-- More Content -->
</div>